.Graph {
    position: relative;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
}

.Graph svg {
    height: 100%;
    width: 100%;
}

.edgeWeightInput {
    width: 30px;
    font-size: medium;
}

.btn.btn-info {
    width: 60px;
    height: 30px;
    padding: 0 0 0 0;
    vertical-align: top;
    text-align: top;
    padding-left: 0px;
}

a {
    font-weight: bold;
}
