
.Toolbar {
    /* background-color: lightblue; */
    width: 100%;
    height: 100px;
    position: relative;
    margin-top: 0vw;
} 

.Toolbar div {
    float: left;
    /* clear: none; */
    padding: 0px 20px 0px 2px;
}